header{
    height: 10vh;
    position: relative;
}

@font-face {
    font-family: mine;
    src: url(JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Ba;
    src: url(Macondo-Regular.ttf);
}

*{
    font-family: mine;
}

#title{
    position: absolute;
    width:100%;
    text-align: center;
    vertical-align: middle;
    top:15%;
    color: #0D7377;
}

h3{
    top: 15%;
    position: absolute;
}

main{
    height: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
}
#container1{
    padding: 50px;
}
footer{
    height: 10vh;
}

.navbar-custom {
    background-color: #14FFEC;
}

a{
    color: black;
}

.col-md-auto{
    border-right: 3px solid #0D7377;
}

#col1{
    border-left: 3px solid #0D7377;
}


.accordion-button:not(.collapsed) {
    color: White;
    background-color: #0D7377;
}


.accordion-title {
    font-variant-caps: titling-caps;
}

.accordion-button {
    color: White !important;
}

.accordion-button collapse {
    color: #0D7377;
}

.accordion-body{
    background-color: #0D7377;
    color: white;
}

.accordion-button.collapsed
{    color:white !important;
    background-color: #0D7377;
}